@font-face {
  font-family: "Fraunces";
  font-display: swap;
  src: url("./starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url(./starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 100 900;
}

:root {
  /* Default color palette colors */
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(273, 85%, 13%);
  --clr-primary: hsl(150, 100%, 63%);
  --clr-secondary: hsl(271, 12%, 34%);
  --clr-section: hsl(276, 100%, 99%);

  --clr-foreground: var(--clr-dark);
  --clr-background: var(--clr-light);

  /* Font Family */
  --font-family-heading: "Fraunces";
  --font-family-body: "Manrope";
  /* Font weight */

  /* Font size */
}

.dark-mode {
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(273, 85%, 13%);
  --clr-primary: hsl(150, 100%, 63%);
  --clr-secondary: hsl(271, 12%, 34%);
  --clr-section: hsl(276, 100%, 99%);

  --clr-foreground: var(--clr-light);
  --clr-background: var(--clr-dark);
}

/* Utility classes */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
