@font-face {
  font-family: "Fraunces";
  font-display: swap;
  src: url("./starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url(./starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf)
    format("truetype");
  font-weight: 100 900;
}

:root {
  /* Default color palette colors */
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(273, 85%, 13%);
  --clr-primary: hsl(150, 100%, 63%);
  --clr-secondary: hsl(271, 12%, 34%);
  --clr-section: hsl(276, 100%, 99%);

  --clr-foreground: var(--clr-dark);
  --clr-background: var(--clr-light);

  /* Font Family */
  --font-family-heading: "Fraunces";
  --font-family-body: "Manrope";
  /* Font weight */
  --fw-regular: 400;
  --fw-semibold: 600;

  /* Font size */
  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.75rem;
  --fs-400: 2rem;
  --fs-500: 3rem;
  --fs-600: 3.125rem;
  --fs-700: 3.5rem;
  --fs-800: 3.75rem;
  --fs-900: 5rem;
}

.dark-mode {
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(273, 85%, 13%);
  --clr-primary: hsl(150, 100%, 63%);
  --clr-secondary: hsl(271, 12%, 34%);
  --clr-section: hsl(276, 100%, 99%);

  --clr-foreground: var(--clr-light);
  --clr-background: var(--clr-dark);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  4. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  5. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: "Fraunces";
}

/* General */
body {
  background-color: var(--clr-foreground);
  color: var(--clr-secondary);
  font-family: "Manrope";
  font-weight: var(--fw-regular);
  font-size: var(--fs-100);
  line-height: 1.7;
  text-align: center;
  padding: 2rem 1rem;
  min-height: 100svh;
}

/* .bottom-border {
  border-bottom: 0.3rem solid var(--clr-primary);
} */

/* Typography */
.main-title {
  font-size: var(--fs-600);
  color: var(--clr-background);
  font-weight: var(--fw-semibold);
  line-height: 1;
}

.demo-title {
  font-size: var(--fs-400);
  color: var(--clr-background);
  font-weight: var(--fw-semibold);
  line-height: 1.5;
}

/* Utility classes */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.grid-flow {
  display: grid;
  gap: 1rem;
}

.flex-group {
  display: flex;
  align-items: center;
}
